<!-- FOOTER -->
<footer class="footer">

    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; MyITCRM 2009 - 2015. All rights reserved unless otherwise stated.</p>
    {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">Follow us on GitHub | </a>{% endif %}
    {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">Follow us on Twitter</a>{% endif %}
</footer>
</body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



</html>