<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-cloud-download"></span> Downloads</h3>
	</div>
	<div class="panel-body text-center">
		<p>Version: <b>0.2.9.3</b></p>
		<p>Status: <b>BETA</b></p>
		<p>Next Release ETA: <b>TBC</b></p>
		<p>License: <b>GNU GPLv3</b></p>
		<a class="btn btn-info" href="http://sourceforge.net/projects/myitcrm/files/MyITCRM1-0.2.9.3.zip/download" target="_blank" title="Download your Free Copy Here">Download Here</a>
	</div>
</div>
