<div class="panel panel-primary">
	<div class="panel-heading">
	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Supporters of MyITCRM!</h3>
        </div>
	<div class="panel-body">                   
		<div align="center">
		<a href="https://www.jetbrains.com/ruby/"><img src="/assets/logo_rubymine.png"  style="width:200px"></a>
		<p>Provided MtITCRM Devs with an IDE to develop with..</p>
		<hr/>
		<a href="https://www.digitalocean.com/?refcode=bebe82f5dcc9"><img src="/assets/DO_Proudly Hosted Badge_Blue.png" style="width:200px"></a>
		
		<p>Hosting the MyITCRM Demo</p>
		</div>
	</div>
</div>

