<div class="panel panel-primary">
	<div class="panel-heading">
	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Supporters of MyITCRM!</h3>
        </div>
	<div class="panel-body">                   
		<div align="center">
		<a href="https://www.jetbrains.com/ruby/"><img src="/assets/logo_rubymine.png"  style="width:200px"></a>
		<p>Provided MyITCRM Devs with an IDE to develop with..</p>
		<hr/>
		<a href="https://github.com"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" style="width:200px"></a>
		
		<pMyIT CRM Website Hosting.</p>
		</div>
	</div>
</div>

