
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyITCRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li {% if menu.home %} class="active" {% endif %}><a href="http://www.myitcrm.com">Home</a></li>
                    <li {% if menu.demos %} class="active" {% endif %}><a href="{{ site.url }}/demonstrations.html">Demos</a></li>
                    <li {% if menu.news %} class="active" {% endif %}><a href="{{ site.url }}/news.html">News</a></li>
                    <li><a href="http://myitcrm.com/forum">Forum</a></li>
                    <li {% if menu.contribute %} class="active" {% endif %}><a href="{{ site.url }}/contribute.html">Contribute</a></li>
                    <li {% if menu.development %} class="active" {% endif %}><a href="{{ site.url }}/development.html">Development</a></li>
                    <li><a href="https://github.com/MyITCRM">View on Github</a></li>
                    <li {% if menu.team %} class="active" {% endif %}><a href="{{ site.url }}/team.html">Team</a></li>
                </ul>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
