<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.myitcrm.com"><img alt="MyITCRM" src="/assets/myitcrm_logo2.jpeg" style="width:30px;"></a>
		
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.url }}/demo.html">Demo</a></li>
                    <li class="{% if page.url contains '/news/' %}active{% endif %}"><a href="{{ site.url }}/news.html">News</a></li>
		    <li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki <span class="caret"></span></a>
          		<ul class="dropdown-menu">
            			<li><a href="{{ site.url }}/wiki/myitcrm1/getting-started.html">MyITCRM 1</a></li>
            			<li><a href="{{ site.url }}/wiki/myitcrm2/getting-started.html">MyITCRM 2</a></li>
          		</ul>
        	    </li>
                    <li><a href="https://github.com/MyITCRM/myitcrm2/issues">Issue Tracker</a></li>
                    <li><a href="{{ site.url }}/contribute.html">Contribute</a></li>
                    <li><a href="{{ site.url }}/development.html">Development</a></li>
                    <li><a href="{{ site.url }}/team.html">Team</a></li>
                    <li><a href="https://github.com/MyITCRM">View on Github</a></li>                      
                </ul>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

