
<div class="row">
<div class="col-md-3">{% include module_donations.html %}</div>
  <div class="col-md-6">{% include module_supporters.html %}</div>
<div class="col-md-3">{% include module_supporters.html %}</div>

</div>

<!-- FOOTER -->

<footer class="footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; MyITCRM 2009 - 2015. All rights reserved unless otherwise stated.</p>
    {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">Follow us on GitHub | </a>{% endif %}
    {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">Follow us on Twitter</a>{% endif %}
</footer>
