
{% include top.html %}

<body>
{% include navbar.html %}
<div class="container theme-showcase ">

    <div class="col-sm-9">

        {% if page.title %}
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        {% endif %}
        <p class="text-right">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <small>
            <em>
            {% if page.author %}
             Written by <a href="{{ site.url}}/team/{{ page.author}}">{{ page.author }} </a>
            {% endif %}
            {% if page.date %} on the {% assign d = page.date | date: "%-d"  %}
            {{ page.date | date: "%B" }}
            {% case d %}
              {% when '1' or '21' or '31' %}{{ d }}st
              {% when '2' or '22' %}{{ d }}nd
              {% when '3' or '23' %}{{ d }}rd
              {% else %}{{ d }}th
              {% endcase %},
            {{ page.date | date: "%Y" }}
            {% endif %}
            </em>
            </small>
            </p>
        {{ content }}


    </div>
	{% include right_sidebar_header.html %}
		{% include module_download.html %}
		{% include module_latest_news.html %}
		{% include module_twitter.html %}
		{% include module_donations.html %}
	{% include right_sidebar_footer.html %}

        </div>             
{% include footer.html %}
